/** DEFAULT COLOR SCHEME **/
:root{
    --couleur1: #ED1E79;/* première couleur du dégradé. couleur par défault:#ED1E79 */
    --couleur2: #F15A24;/* Deuxième couleur du dégradé. couleur par défault:#F15A24 */
    --couleur3: rgb(12, 51, 246);/* couleur du footer. couleur par défault #0C33F6 */
    --couleur4: rgb(80, 204, 196);/* couleur du footer. couleur par défault #50CCC4 */
}