/** COLOR SCHEME 3 **/
:root{
    --couleur1: #f230c1; /*première couleur du dégradé.  */
    --couleur2: #F23535; /*Deuxième couleur du dégradé.  */
    --couleur3: #32BAD9; /*couleur du footer.  */
    --couleur4: #32BAD9; /*couleur du footer. */
}