/** COLOR SCHEME 2 **/
:root{
    --couleur1: #049DD9; /*première couleur du dégradé.  */
    --couleur2: #05C7F2; /*Deuxième couleur du dégradé.  */
    --couleur3: #f2356e; /*couleur du footer.  */
    --couleur4: #f23554; /*couleur du footer.  */
}