/** COLOR SCHEME 8 **/
:root{
    --couleur1: #841f88; /*première couleur du dégradé. */
    --couleur2: #ec1aa6; /*Deuxième couleur du dégradé. */
    --couleur3: rgb(64, 209, 214); /*couleur du footer.  */
    --couleur4: rgb(31, 162, 202); /*couleur du footer.  */
}