/** DARK MODE **/

body{
    background-color: #343656 !important;
    color: #fff;
}
.menu_sec.nav-tabs .nav-item a{
    background-color: transparent;
}
main {
    background-color: rgba(52, 54, 86, 0.8);
}
main form{
    background-color: rgba(255,255,255, 0.1);
}
.index .site-wrapper {
    background: linear-gradient(90deg, #343656 10%, transparent 80%, #343656 100%);
}
.index .card .card-body{
    background-color: rgba(52, 54, 86) !important;
}

@media only screen and (max-width:500px){
    .index main{
        background-color:transparent !important;
    }
    .index .site-wrapper{
        background:transparent !important;
    }
   
}