
/** DEFAULT COLOR SCHEME **/
$background: #fff; //thème clair: #fff; thème sombre:  #343656
$background-invert: #343656;//couleur inversée
$couleur1:#00afaf; //première couleur du dégradé. 
$couleur2:#19b949; //Deuxième couleur du dégradé. 
$couleur3:#EE554C; //couleur du footer. 
$couleur4:#EE554C; //couleur du footer. 


@import "global";