
/** DEFAULT COLOR SCHEME **/
$background: #fff; //thème clair: #fff; thème sombre:  #343656
$background-invert: #343656;//couleur inversée
$couleur1:#ED1E79; //première couleur du dégradé. couleur par défault:#ED1E79
$couleur2:#F15A24; //Deuxième couleur du dégradé. couleur par défault:#F15A24
$couleur3:#0C33F6; //couleur du footer. couleur par défault #0C33F6
$couleur4:#50CCC4; //couleur du footer. couleur par défault #50CCC4


@import "global";




