
/** DEFAULT COLOR SCHEME **/
$background: #fff; //thème clair: #fff; thème sombre:  #343656
$background-invert: #343656;//couleur inversée
$couleur1:#a57919; //première couleur du dégradé. 
$couleur2:#ecbb1a; //Deuxième couleur du dégradé. 
$couleur3:rgb(214, 64, 176); //couleur du footer. 
$couleur4:rgb(214, 64, 176); //couleur du footer. 


@import "global";